<div class="day-of-week">
  <app-day-of-week></app-day-of-week>
</div>
<div class="app-container">
  <div class="aircrafts-column">
    <h2 class="section-headers">Aircrafts</h2>
    <app-aircraft-list></app-aircraft-list>
  </div>
  <div class="rotation-column">
    <h2 class="section-headers">Rotation for AS1001</h2>
    <app-rotation-editor></app-rotation-editor>
  </div>
  <div class="flights-column">
    <h2 class="section-headers">Flights</h2>
    <app-flights-list></app-flights-list>
  </div>
</div>
