<div *ngFor="let flight of flights" class="flight-card">
    <div class="flight-header">{{ flight.ident }}</div>
    <div class="flight-body">
      <div class="flight-info">
        <div class="airport">{{ flight.origin }}</div>
        <div class="time">{{ flight.readable_departure }}</div>
      </div>
      <div class="flight-info">
        <div class="airport">{{ flight.destination }}</div>
        <div class="time">{{ flight.readable_arrival }}</div>
      </div>
    </div>
    <button (click)="onaddToRotation(flight)">Add to Rotation</button>
</div>

